<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ritsumei.mobileProject"
      android:versionCode="1"
      android:versionName="1.0">
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />   
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.WAKE_LOCK"/>
<uses-permission android:name="android.permission.VIBRATE"/>
<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17" />

<application android:icon="@drawable/icon" android:label="@string/app_name" android:name="com.ritsumei.mobileProject.MyApplication" android:allowBackup="true" >
	<uses-library android:name="com.google.android.maps"/>
   	<receiver android:process=":remote" android:name="com.ritsumei.mobileProject.AlarmService"></receiver>
   	<activity android:name="MainActivity"
    		android:label="@string/app_name"
        	android:theme="@android:style/Theme.NoTitleBar">
   		<intent-filter>
      		<action android:name="android.intent.action.MAIN" />
     		<category android:name="android.intent.category.LAUNCHER" />
 		</intent-filter>
    </activity>
    <activity android:name="SubMainActivity"
    		android:label="@string/app_name"
        	android:theme="@android:style/Theme.NoTitleBar">
    </activity>
    <activity android:name="EventActivity"
    		android:label="@string/app_name"
        	android:theme="@android:style/Theme.NoTitleBar">
    </activity>
    <activity android:name="EventListActivity"
    		android:label="@string/app_name"
        	android:theme="@android:style/Theme.NoTitleBar">
    </activity>
    <activity android:name="com.ritsumei.mobileProject.EventRegActivity"
    		android:label="@string/app_name"
        	android:theme="@android:style/Theme.NoTitleBar">
    </activity>
</application>
</manifest> 
